<html>
  <head></head>
  <body style="background-color:powderblue;">
    <h1><%= @album.title %></h1>
    <p>
      Release year: <%= @album.release_year %><br />
      Artist: <%= @artist.name %>
    </p>
  </body>
</html>