<html>
    </head><head>
    <%# make background colour green %>
    <body style="background-color:powderblue;">
        <h1>Artists</h1>
        <h2>Go to:</h2>
        </p>
        <ul>
            <%# iterate over the @artists array %>
            <% @artists.each do |artist| %>
                <li><a href="/artists/<%= artist.id %>"><%= artist.name %></a></li>
            <% end %>
        </ul>

    </body>
</html>