
<html>
  <head></head>
  <%# make background blue %>
  <body style="background-color:powderblue;">
    <h1>Albums</h1>
    <h2>Go to:</h2>
    </p>
    <ul>
      <%# iterate over the @albums array %>
      <% @albums.each do |album| %>
        <li><a href="/albums/<%= album.id %>"><%= album.title %></a></li>
      <% end %>
    </ul>
  </body>
</html>