<html>
    </head><head>
    <body>
        <h1>Artists</h1>
        <% @artists.each do |record| %>

        <a href="/artists/<%= record.id %>"><%=record.name%><a><br />
        <% end %>
    </body>
</html>