<html>
    <head></head>
    <body>
        <p>
            Artist: 
            <h3><%= @artist.name %></h3>
            Genre:
            <h3><%= @artist.genre %></h3>
        </p>
    </body>
</html>