<html>
  <head></head>
  <%# make background blue %>
  <body style="background-color:powderblue;">
    <!-- the ERB tag below will be replaced by the value of @name -->
    <h1>Hello!</h1>

    <h2>Go to:</h2>
    <h3><a href="/albums">Albums</a><br /><br />
    <a href="/artists">Artists</a><br /></h3>
    </p>
  </body>
</html>