<form method='POST' action='/artists'/>
    <label>Artist title:</label><br />
    <input type='text' name='name'/><br />
    <label>Artist genre:</label><br />
    <input type='text' name='genre'/><br />
    <input type='Submit' />
</form>